
.background{
    position: relative;
    background-color:rgb(143 188 201 / 50%);
}

.container_button{
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
}

.limiter-1{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 25px 45px;
    border-radius: 10px;
}

.addBook{
    margin-top: 10px;
    font-size: 24px;
    color: black;
    padding: 10px 0;
}

.button-2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: none;
}



.blue-button{
  background-color: rgb(74, 150, 150);
  font-size: 21px;
  border-radius: 5px;
  padding: 10px 185px;
  border: none;
  margin-top: 12px;
}


.element{
   border-radius: 5px; 
   border: 1px solid grey;
   padding: 10px 30px;
   margin-top: 10px;
}



.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 768px){
    .row-container{
       flex-direction: column;
       justify-content: center;
    }
}

.title1{
    font-size: 54px;
    color: black;
    padding: 35px ;
}

@media (max-width: 768px){
    .title1{
       font-size: 44px;
       text-align: center;
    }
}
.button-1{
    background-color: rgb(74, 150, 150);
    color: white;
    font-size: 18px;
    padding: 20px 35px;
    margin-right: 20px;
    border-radius: 10px;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.books-container{
    width: calc(100% / 4);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
    margin: 15px;
    padding: 15px;
}

@media (max-width: 768px){
    .books-container{
       width: calc(100% / 1);
    }
}

.limiter-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;   
}

.limiter{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.imge{
    width: 70%;
    height: 70%;
}

.title{
margin-top: 30px;
text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.year{
margin-top: 10px; 
text-align: center;
}

.authors{
padding: 5px;
margin-top: 10px;
border-radius: 12px;
background-color: rgb(236, 247, 247);
color: rgb(96, 133, 133);
font-size: 20px;
text-align: center;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
}

.button{
    box-sizing: border-box;
    border: 0 solid;
    text-decoration: none;
    color:black;
    padding: 20px 30px;
   background-color: white;

}
